{% for service in services -%}
apiVersion: postgresql.cnpg.io/v1
kind: Database
metadata:
  name: cnpg-eso-{{ service }}
  annotations:
    argocd.argoproj.io/sync-wave: "10"
spec:
  cluster:
    name: cnpg-eso-multidb-verification
  name: {{ service }}
  owner: {{ service }}_app
  ensure: present
  databaseReclaimPolicy: retain
  schemas:
    - name: {{ service }}
      owner: {{ service }}_app
      ensure: present
{% if not loop.last %}---
{% endif %}
{%- endfor %}
