{% for service in services %}
{%- for slot in ["ro-a", "ro-b", "rw-a", "rw-b", "mig-a"] %}
{%- set role = slot | replace("-", "_") %}
apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: cnpg-verification-{{ service }}-app-{{ slot }}
  annotations:
    argocd.argoproj.io/sync-wave: "-10"
spec:
  refreshInterval: 0s
  refreshPolicy: CreatedOnce
  target:
    name: cnpg-verification-{{ service }}-app-{{ slot }}
    creationPolicy: Owner
    template:
      type: kubernetes.io/basic-auth
      metadata:
        labels:
          cnpg.io/reload: "true"
      data:
        username: {{ service }}_app_{{ role }}
        password: "{{ '{{' }} .password {{ '}}' }}"
  dataFrom:
    - sourceRef:
        generatorRef:
          apiVersion: generators.external-secrets.io/v1alpha1
          kind: Password
          name: cnpg-eso-verification-password
---
{% endfor %}
{%- endfor %}
