apiVersion: kustomize.config.k8s.io/v1alpha1
kind: Component
resources:
  - external-secrets.yaml
  - databases.yaml
  - provisioning-sql.yaml
  - provisioning-jobs.yaml
patches:
  - path: managed-roles.yaml
    target:
      group: postgresql.cnpg.io
      version: v1
      kind: Cluster
      name: cnpg-eso-multidb-verification
